.list{
    font-family: Garamond, 'Times New Roman', Times, serif;
    border: 5px solid skyblue;
    background-color:#1270EF;
    border-radius: 5px;
}
.name{

    font-size: 45px;
    color: black;
   margin-top: 15px;
  text-align: center;
}
Avatar{
    width: 40px;
    height: 40px;
}
.qw{
    background-color: purple;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
}
